---
title: "Food Plot Prep | Flannel Landworks"
description: "Food plot prep service placeholder for Flannel Landworks."
permalink: "/food-plot-prep/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/stock/land-clearing-hero.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
{% endblock %}

{% block body %}
    {% set serviceTitle = "Food Plot Prep" %}
    {% set serviceUrl = "/food-plot-prep/" %}
    {% include "components/service-placeholder.html" %}
{% endblock %}
